# IDEs and editors
/bin/electron-chubao-tool/node_modules
/bin/electron-chubao-tool/out
node_modules
/node_modules
/.idea
/typescript/node_modules
/typescript/node_modules/*
/typescript/*.js
.bin
.idea
.project
.js.map
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.zip